body {
    background-color: hotpink;

    margin-top: 60px;
    margin-left: 51px;
    margin-bottom: 60px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: black
}
h1 {color:lawngreen;
    background-color: black;
    text-align: center;

}
img {
    border-radius: 15%;
}